In [1]:
import pandas as pd
import numpy as np
from numpy import where
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot
%matplotlib inline
from pylab import *
from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.ensemble import *
from sklearn.linear_model import *
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.tree import *
from sklearn.preprocessing import *
from sklearn import svm, datasets
from sklearn.multiclass import OneVsRestClassifier
from sklearn.datasets import make_classification
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from itertools import cycle
from sklearn.datasets import *
from sklearn.feature_selection import VarianceThreshold
from sklearn.base import clone

from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.preprocessing import LabelEncoder
from collections import Counter
from imblearn.pipeline import Pipeline
from rdkit import Chem
from rdkit.Chem import AllChem
from rdkit.ML.Descriptors import MoleculeDescriptors
from rdkit.Chem import Descriptors
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from rdkit import DataStructs
from rdkit.Chem import rdMolDescriptors
from rdkit.Chem.Descriptors import MolWt
from rdkit.Chem.Descriptors import MolLogP
from rdkit.Chem import Lipinski

# Functions

In [2]:
def to_numpyarray_to_list(desc):
    arr = np.zeros((1,))
    DataStructs.ConvertToNumpyArray(desc, arr)
    return arr.tolist()

def calcula_fp1(dataframe):
    d={}
    c=0
    for x in dataframe:
        
        mol = Chem.MolFromSmiles(x)
        fp1 = rdMolDescriptors.GetMorganFingerprintAsBitVect(mol, 20, nBits=2048)
        FP_as_BitVect = to_numpyarray_to_list(fp1)
        d['result{}'.format(c)] = FP_as_BitVect
        c+=1
    df = pd.DataFrame(d).transpose()
    return df

In [3]:
def calc_metrics(labels_test, test_probs, threshold = 0.5):
    scores = [1 if x>=threshold else 0 for x in test_probs]
    auc = metrics.roc_auc_score(labels_test, test_probs, multi_class="ovr")
    kappa = metrics.cohen_kappa_score(labels_test,scores)
    confusion = metrics.confusion_matrix(labels_test,scores, labels=list(set(labels_test)))
    print('thresh: %.2f, kappa: %.3f, AUC test-set: %.3f'%(threshold, kappa, auc))
    print(confusion)
    print(metrics.classification_report(labels_test,scores,digits=3))
    return

# IRAK-4 Model

In [4]:
y4_IC= pd.read_csv('DB_IRAK4_IC50_CLEAN2.csv', sep=';', low_memory=False)
y4_KI= pd.read_csv('DB_IRAK4_KI_CLEAN.csv', sep=';')

In [5]:
#IC50 - IRAK4
y4_IC.loc[y4_IC['Value'] > 50, 'Activity'] = 0 #inactives
y4_IC.loc[y4_IC['Value'] <= 50, 'Activity'] = 1


#KI - IRAK4
y4_KI.loc[y4_KI['Value'] > 200, 'Activity'] = 0 #inactives
y4_KI.loc[y4_KI['Value'] <= 200, 'Activity'] = 1

In [6]:
pd.DataFrame(y4_IC['Activity']).value_counts()

Activity
0.0         1380
1.0         1163
dtype: int64

In [7]:
pd.DataFrame(y4_KI['Activity']).value_counts()

Activity
0.0         785
1.0         118
dtype: int64

In [8]:
df_y4_IC_fp = calcula_fp1(y4_IC['Smiles'])
df_y4_IC_fp

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
result0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
result1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
result2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
result2538,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result2539,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
result2540,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result2541,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
result2542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_y4_KI_fp = calcula_fp1(y4_KI['Smiles'])
df_y4_KI_fp

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
result0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
result1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
result898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result899,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
result901,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
result902,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Fingerprints
df_all4_fp = df_y4_IC_fp.append(df_y4_KI_fp)
df_all4_fp

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
result0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
result1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
result2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
result898,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result899,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
result900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
result901,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
result902,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Targets
y4_all = y4_IC.append(y4_KI)
y4_all

,Molecule,Smiles,Type,Relation,Value,Units,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 336,Unnamed: 337,Unnamed: 338,Unnamed: 339,Unnamed: 340,Unnamed: 341,Unnamed: 342,Unnamed: 343,Unnamed: 344,Activity
0,CHEMBL3919594,O=C(Nc1cc2cccnc2cc1OCCCO)c1csc2cncnc12,IC50,'=',131.0,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,CHEMBL3586484,COc1ccc(-c2cc(NC(=O)c3cnn4cccnc34)n(-c3ccc(C)c...,IC50,'<',1000.0,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,CHEMBL4113237,CCCn1cc(Nc2cc(-n3ncc4cc(C#N)cnc43)ncc2C(=O)NC[...,IC50,'=',2.9,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,CHEMBL4110611,Cc1csc(-c2c(N[C@@H]3C[C@H](CO)[C@@H](O)[C@H]3O...,IC50,'=',26.6,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,CHEMBL3916129,Cc1ccc(-n2nc(C3CCN([S+]([O-])C4CCCCC4)CC3)cc2N...,IC50,'<',1000.0,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,CHEMBL4459509,CC1(C)Cc2cc(NC(=O)c3cnn4cccnc34)c(N3CCCC3)cc2O1,Ki,'=',12.0,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
899,CHEMBL4551768,CN(C)c1ccc2cc(NC(=O)c3cnn4cccnc34)c(N3CCCCC3)c...,Ki,'=',26.0,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
900,CHEMBL4248525,CN1CCN(CCCOc2cccc(CC(=O)Nc3nc(-c4c[nH]c5ncccc4...,Ki,'>',4000.0,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
901,CHEMBL4566431,CC(C)(O)[C@H](F)CN1Cc2cc(NC(=O)c3cnn4cccnc34)c...,Ki,'=',3.7,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
902,CHEMBL4568894,CC(C)(O)[C@H](F)CN1Cc2cc(NC(=O)c3cnn4cccnc34)c...,Ki,'=',3.4,nM,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [12]:
# Drop multiples columns
y4_all.drop(y4_all.iloc[:,6:345], inplace = True, axis = 1)

In [13]:
y4_all

,Molecule,Smiles,Type,Relation,Value,Units,Activity
0,CHEMBL3919594,O=C(Nc1cc2cccnc2cc1OCCCO)c1csc2cncnc12,IC50,'=',131.0,nM,0.0
1,CHEMBL3586484,COc1ccc(-c2cc(NC(=O)c3cnn4cccnc34)n(-c3ccc(C)c...,IC50,'<',1000.0,nM,0.0
2,CHEMBL4113237,CCCn1cc(Nc2cc(-n3ncc4cc(C#N)cnc43)ncc2C(=O)NC[...,IC50,'=',2.9,nM,1.0
3,CHEMBL4110611,Cc1csc(-c2c(N[C@@H]3C[C@H](CO)[C@@H](O)[C@H]3O...,IC50,'=',26.6,nM,1.0
4,CHEMBL3916129,Cc1ccc(-n2nc(C3CCN([S+]([O-])C4CCCCC4)CC3)cc2N...,IC50,'<',1000.0,nM,0.0
...,...,...,...,...,...,...,...
898,CHEMBL4459509,CC1(C)Cc2cc(NC(=O)c3cnn4cccnc34)c(N3CCCC3)cc2O1,Ki,'=',12.0,nM,1.0
899,CHEMBL4551768,CN(C)c1ccc2cc(NC(=O)c3cnn4cccnc34)c(N3CCCCC3)c...,Ki,'=',26.0,nM,1.0
900,CHEMBL4248525,CN1CCN(CCCOc2cccc(CC(=O)Nc3nc(-c4c[nH]c5ncccc4...,Ki,'>',4000.0,nM,0.0
901,CHEMBL4566431,CC(C)(O)[C@H](F)CN1Cc2cc(NC(=O)c3cnn4cccnc34)c...,Ki,'=',3.7,nM,1.0
902,CHEMBL4568894,CC(C)(O)[C@H](F)CN1Cc2cc(NC(=O)c3cnn4cccnc34)c...,Ki,'=',3.4,nM,1.0

In [14]:
pd.DataFrame(y4_all['Activity']).value_counts()

Activity
0.0         2165
1.0         1281
dtype: int64

In [15]:
# split data in 80:20 for train:test dataset
X = df_all4_fp
y = y4_all['Activity']

# In the first step we will split the data in training and remaining dataset
X_train4, X_test4, y_train4, y_test4 = train_test_split(X,y, test_size=0.2, random_state=42)


print(X_train4.shape), print(y_train4.shape)
print(X_test4.shape), print(y_test4.shape)

(2756, 2048)
(2756,)
(690, 2048)
(690,)

(None, None)

In [ ]:
classifier4 = RandomForestClassifier(random_state=0)

classifier4.fit(X_train4, y_train4)

## Validation

In [ ]:
x_pred4 = classifier4.predict(X_test4)

In [ ]:
pd.DataFrame(x_pred4).value_counts()

In [ ]:
print (calc_metrics(y_test4, x_pred4))
    
sns.heatmap(confusion_matrix(y_test4, x_pred4),cmap='YlGnBu' ,annot=True,fmt='2.0f')
plt.title('Conf Matrix/IRAK-4')
plt.ylabel('Predicted')
plt.xlabel('Real')
plt.show()

# Prediction for DrugBank

## Importing Drugbank

In [ ]:
df_DB = pd.read_csv('DrugBank_approved_Stand2.csv')
df_DB

## Fingerprint of DrugBank

In [ ]:
df_DB_fp = calcula_fp1(df_DB['mol'])

In [ ]:
df_DB_fp

## DrugBank Prediction FP (IRAK-4)

In [ ]:
x_pred4 = classifier4.predict(df_DB_fp)

In [ ]:
pd.DataFrame(x_pred4).value_counts()

In [ ]:
# checking wich molecules was predicted as active 
print("Prediction of active molecules for IRAK-4", '\n')
irak4 = []
for i in range(len(x_pred4)):
    if x_pred4[i] >0:
        print("ID:",i, "- DrugBank:", df_DB['DRUGBANK_ID'][i])
        irak4.append(df_DB['DRUGBANK_ID'][i])

print('\n', "There are", len(irak4), "candidates.")

In [ ]:
for i in range(len(x_pred4)):
    if x_pred4[i] >0:
        if df_DB['Mol Weight'][i] < 600:
            print("ID:",i, "- DrugBank:", df_DB['DRUGBANK_ID'][i])

# PKIDB

In [ ]:
PKIDB= pd.read_csv('PKIDB_STAND.csv', sep=',')
PKIDB

In [ ]:
df_PKIDB_fp = calcula_fp1(PKIDB['mol'])
df_PKIDB_fp

## Prediction PKIDB

In [ ]:
x_pred4 = classifier4.predict(df_PKIDB_fp)

In [ ]:
pd.DataFrame(x_pred4).value_counts()

In [ ]:
# checking wich molecules was predicted as active 
print("Prediction of active molecules for IRAK-4", '\n')
irak4 = []
for i in range(len(x_pred4)):
    if x_pred4[i] >0:
        print("ID:",i, "- CHEMBL:", PKIDB['Field 6'][i])
        irak4.append(PKIDB['Field 6'][i])

print('\n', "There are", len(irak4), "candidates.")

ID: 14 - CHEMBL: CHEMBL1967878 - KI: 79 nM IRAK-4 (assay CHEMBL1963808) Este estava no conjunto de treinamento

ID: 127 - CHEMBL: nan - TAMATINIB

ID: 250 - CHEMBL: CHEMBL608533 - MIDOSTAURIN

# KIDS

In [ ]:
KIDS= pd.read_csv('KIDS_STAND.csv', sep=',')
KIDS

In [ ]:
KIDS_mol= pd.read_csv('KIDS_STAND2-mol-no-duplicates.csv', sep=',')
KIDS_mol

In [ ]:
print(KIDS_mol['mol'][31130])

KIDS_mol= KIDS_mol.drop([31130, 31130, 31132])

df_KIDS_fp1 = calcula_fp1(KIDS_mol['mol'])
df_KIDS_fp1

df_KIDS_fp = calcula_fp1(KIDS_mol['mol'][31125:31130])
df_KIDS_fp

In [ ]:
df_KIDS_fp1 = calcula_fp1(KIDS_mol['mol'])
df_KIDS_fp1

## KIDS Prediction

In [ ]:
x_pred4 = classifier4.predict(df_KIDS_fp1)

In [ ]:
pd.DataFrame(x_pred4).value_counts()

In [ ]:
# checking wich molecules was predicted as active 
print("Prediction of active molecules for IRAK-4", '\n')
irak4 = []
for i in range(len(x_pred4)):
    if x_pred4[i] >0:
        print("ID:",i, "- SMILES:", KIDS_mol['mol'][i])
        irak4.append(KIDS_mol['mol'][i])

print('\n', "There are", len(irak4), "candidates.")